.main-banner {
    background: url("/images/banner9.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-banner__button {
    text-decoration: none;
    color: black;
    font: bold;
    font-size: 40px;
    border: 2px solid black;
    padding: 20px 40px;
    text-transform: uppercase;
    background: #fefee957;
}

.main-banner__button:hover {
    background: rgba(255, 255, 255, 0.856);
    transition: 0.5s;
}