.nav {
    position: fixed;
    background: rgba(255, 255, 255, 0.856);
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.nav__inside {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.5s;
    transition-property: opacity, transform;
}

@media(max-width: 991px) {
    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

@media(max-width: 991px) {
    .nav__menu--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.nav__link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
}

@media(max-width: 991px) {
    .nav__link {
        font-size: 22px;
    }
}

.nav__menu-item {
    margin-left: 20px;
}

@media(max-width: 991px) {
    .nav__menu-item {
        margin-left: -40px;
        padding: 5px 0;
    }
}

.nav__link:hover {
    border-bottom: 1px solid black;
}

@media(max-width: 991px) {
    .nav__link:hover {
        border-bottom: unset;
    }
}

.nav__logo-image {
    width: 150px;
}

.social-icon {
    width: 25px;
}

.nav__mobile-button {
    display: none;
}

@media(max-width: 991px) {
    .nav__mobile-button {
        display: unset;
        background: none;
        border: none;
        padding: 0;
    }
}

@media(max-width: 991px) {
    .nav__mobile-button-image {
        width: 50px;
        display: block;
    }
}